<app-navbar></app-navbar>
<div class="companies_section layout_padding">
    <div class="container">
        <h1 class="companies_text"> اسم المؤسسة التربوية </h1>
        <div class="images_main ">
            <h2 id="demo03"></h2>
            <div class="hover03 column">
                <div>
                    <a [routerLink]="'/equipement'">
                        <figure><img src="../../../assets/img/im33.jpg"></figure>
                        اطلاع على التجهيزات

                    </a>
                </div>

                <div>
                    <a [routerLink]="'/espace'">
                        <figure><img src="../../../assets/img/im22.jpg"></figure>
                        فضاءات المؤسسة
                    </a>
                </div>
                <div>
                    <a [routerLink]="'/equipement'">
                        <figure><img src="../../../assets/img/im44.jpeg"></figure>
                        البنية الأساسية للمؤسسة
                    </a>
                </div>
                <div>
                    <a [routerLink]="'/etab'">
                        <figure><img src="../../../assets/img/im11.jpg"></figure>
                        اطلاع على المؤسسة
                    </a>
                </div>
            </div>
            <h2 id="demo03"></h2>
            <div class="hover03 column">
                <div>
                    <a [routerLink]="'/inspection'">
                        <figure><img src="../../../assets/img/im4.jpeg"></figure>
                        تقرير زيارة مؤسسة
                    </a>
                </div>
                <div>
                    <a [routerLink]="'/adm'">
                        <figure><img src="../../../assets/img/imm66.jpg"></figure>
                        التنظيم الإداري و البيداغوجي
                    </a>
                </div>
                <div>
                    <a [routerLink]="'/repartElev'">
                        <figure><img src="../../../assets/img/im6.jpeg"></figure>
                        توزيع الأطفال
                    </a>
                </div>
                <div>
                    <a [routerLink]="'/rh'">
                        <figure><img src="../../../assets/img/im5.jpg"></figure>
                        إطارات المؤسسة
                    </a>
                </div>
            </div>
        </div>
    </div>
{{user | json}}
</div>