<app-navbar></app-navbar>
<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body" class="card-body text-center">
            <h5 class="card-title">الزيارات البيداغوجية</h5>

            <div class="alert alert-primary alert-dismissible fade show" role="alert">
              <i class="bi bi-star me-1"></i>
              تقرير زيارة مؤسسة
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="alert alert-secondary alert-dismissible fade show" role="alert">
              <i class="bi bi-collection me-1"></i>
              تقرير زيارة متابعة
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <i class="bi bi-check-circle me-1"></i>
              تقرير زيارة معاينة
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <i class="bi bi-exclamation-octagon me-1"></i>
              تقرير زيارة تفقد
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <i class="bi bi-exclamation-triangle me-1"></i>
              تقرير زيارة ارشاد
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="alert alert-info alert-dismissible fade show" role="alert">
              <i class="bi bi-info-circle me-1"></i>
              زيارة انتهاء تربص
              <button type="button" class="btn-close" data-bs-dismiss="alert" ></button>
            </div>
          </div>
        </div>

        

      </div>

     
    </div>
  </section>

</main><!-- End #main -->
<!-- End #main -->
<!-- <div class="companies_section layout_padding">
    <div class="container">
      
      <div class="images_main ">
          <h2 id="demo03"></h2>
          <div class="hover03 column">
              <div>
                  <figure><img src="../../../assets/img/im4.jpeg"></figure>
                  اطلاع على التجهيزات
              </div>
              <div>
                <figure><img src="../../../assets/img/im4.jpeg"></figure>
                اطلاع على التجهيزات
            </div>
            <div>
                <figure><img src="../../../assets/img/im4.jpeg"></figure>
                تقرير زيارة متابعة
            </div>
            <div>
                <figure><img src="../../../assets/img/im4.jpeg"></figure>
                تقرير زيارة مؤسسة
            </div>

          </div>
          <h2 id="demo03"></h2>
          <div class="hover03 column">
             <div>
                  <figure><img src="../../../assets/img/im4.jpeg"></figure>
                  اطلاع على التجهيزات
              </div>
              <div>
                <figure><img src="../../../assets/img/im4.jpeg"></figure>
                اطلاع على التجهيزات
            </div>
            <div>
                <figure><img src="../../../assets/img/im4.jpeg"></figure>
                اطلاع على التجهيزات
            </div>
          </div>
    </div>
  </div>

</div> -->